@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Normal.eot');
  src: url('/fonts/FaktPro-Normal.woff') format('woff'),
       url('/fonts/FaktPro-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fakt Pro';
  src: url('/fonts/FaktPro-Light.eot');
  src: url('/fonts/FaktPro-Light.woff') format('woff'),
       url('/fonts/FaktPro-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}