html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #000;
    h2 {
        font-size: 5.2rem;
        color: #000;
    }
    p {
        font-size: 1.6rem;
    }
}

.wrapper {
  padding: 0 6.6rem;
    .inner-wrapper {
        padding: 0 9rem;
    }
}

img.iphone-img {
    filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.1));
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.btn-pink-gradient {
    background: #FF6FB6;
    color: white;
    background: linear-gradient(150deg, #FF6FB6 -80%, #FF2E95 50%);
}

@media (max-width: 575.98px) { 
    html, body {
        font-size: 8px;
    }
    .wrapper {
        padding: 0 3rem;
        .inner-wrapper {
            padding: 0;
        }
    }
}