
//==============
// High Priority > 9000
//==============

// modals
.modal-dialog {
  z-index: 9999;
}

// navbar





// cards

//==============
// High to Medium Priority 8000 to 9000
//==============


//==============
// Medium Priority 7000 to 8000
//==============


//==============
// Medium to Low Priority 6000 to 7000
//==============


//==============
// Low Priority < 6000
//==============

// .button-sticky-bottom {
//   z-index: 200;
// }

.modal-backdrop {
  z-index: 1000;
}

.primary-nav-mobile {
  z-index: 250;
}

.navbar {
  z-index: 200;
}

.home-banner-content {
  z-index: 10;
}