.bm-burger-button {
  display: none;
}
@media (max-width: 991.98px) {
  /* Position and sizing of burger button */
  .bm-burger-button {
      display: block;
      position: absolute;
      width: 25px;
      height: 20px;
      right: 24px;
      top: 30px !important;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
      background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
      height: 24px;
      width: 24px;
      right: 15px !important;
      top: 15px !important;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
      background: #000;
  }
  
  /* General sidebar styles */
  .bm-menu {
      background: #fff;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
  }
  
  .bm-menu-wrap {
    top: 0;
    width: 100vw !important;
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
      fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;
      a {
          color: #000;
      }
  }
  
  /* Styling of overlay */
  .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 1199.98px) { 
    .bm-burger-button {
        top: 6.4rem;
    }
}