.about-page {
  section {
    &.first {
      padding-top: 26rem;
      background: url('/images/shaped-bg8.png');
      background-position: center center;
      background-repeat: no-repeat;
      margin-bottom: 13.4rem;
      .inner-wrapper {
        padding: 0 37rem;
        h2 {
          margin-bottom: 5.5rem;
        }
        p {
          color: #000;
          margin-bottom: 10rem;
          font-size: 2.6rem;
        }
        .feature-icons {
          position: relative;
          height: 36rem;
          .feature-icon {
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 5px 25px 60px 0px rgba(0, 0, 0, 0.07);
            padding: 4rem;
            position: absolute;
            &.rising {
              top: 7.5rem;
              width: 14rem;
              height: 14rem;
            }
            &.search {
              bottom: 0;
              left: 19rem;
              width: 17rem;
              height: 17rem;
            }
            &.floppy {
              top: 0;
              right: 15rem;
              width: 20rem;
              height: 20rem;
            }
            &.shield {
              bottom: 4.5rem;
              right: 0;
              width: 13rem;
              height: 13rem;
            }
          }
        }
      }
    }
    &.team {
      .team-title {
        text-align: center;
        padding: 0 28rem;
        margin-bottom: 5rem;
        h2 {
          margin-bottom: 5.5rem;
        }
        p {
          font-size: 2.6rem;
          color: #000;
        }
      }
      .members {
        margin: 0 -60px;
        .member {
          padding: 0 60px;
          .member-photo {
            position: relative;
            margin-bottom: 4.5rem;
            .img-photo {
              width: 100%;
              padding-right: 10rem;
              position: relative;
              z-index: 2;
            }
            .bg-photo {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
            }
          }
          .member-info {
            margin-bottom: 7rem;
            h3 {
              font-size: 3rem;
              margin-bottom: 2.5rem;
              color: #000;
            }
            p {
              font-size: 2.2rem;
              color: #6E7272;
              line-height: 4.5rem;
              padding-right: 10rem;
            }
          }
        }
      }
    }
    &.how-work {
      margin: 15rem 0 5rem;
      background: url('/images/shaped-bg9.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      h2 {
        text-align: center;
        margin-bottom: 15rem;
      }
      .number {
        display: inline-block;
        width: 6.6rem;
        height: 6.6rem;
        background: #fff;
        box-shadow: 5px 8px 30px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 1rem;
        margin-bottom: 4rem;
        p {
          font-family: "Arial Black";
          font-size: 3rem;
          background: linear-gradient(to bottom, #6510FF 0%, #7E72F7 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          line-height: 6.6rem;
        }
      }
      .description {
        margin-bottom: 8rem;
        h4 {
          font-size: 2.6rem;
          color: #000;
          line-height: 4.5rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 4.5rem;
          color: #6E7272;
        }
      }
    }
  }
  @media (max-width: 767.98px) { 
    section {
      &.first {
        padding-top: 15rem;
        .wrapper {
          .inner-wrapper {
            padding: 0;
            p {
              margin-bottom: 5rem;
            }
            .feature-icons {
              height: 30rem;
              .feature-icon {
                &.rising {
                  width: 10rem;
                  height: 10rem;
                }
                &.search {
                  width: 13rem;
                  height: 13rem;
                  left: 15rem;
                }
                &.floppy {
                  width: 15rem;
                  height: 15rem;
                }
                &.shield {
                  width: 12rem;
                  height: 12rem;
                }
              }
            }
          }
        }
      }
      &.team {
        .team-title {
          padding: 0;
          h2 {
            margin-bottom: 4.5rem;
          }
        }
        .members {
          margin: 0 -15px;
          .member {
            padding: 0 15px;
            .member-photo {
              .img-photo {
                padding-right: 0;
              }
            }
            .member-info {
              text-align: center;
              p {
                padding-right: 0;
              }
            }
          }
        }
      }
      &.how-work {
        margin-top: 4rem;
        h2 {
          margin-bottom: 4.5rem;
        }
        .feature {
          text-align: center;
          .number {
            margin-bottom: 1rem;
          }
          .description {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  @media (max-width: 1400px) and (min-width: 767.98px){ 
    section {
      &.first {
        padding-top: 20rem;
        .inner-wrapper {
          padding: 0 10rem;
        }
      }
      &.team {
        .team-title {
          padding: 0 10rem;
        }
        .members {
          .member {
            .member-info {
              p {
                padding-right: 0;
              }
            }
          }
        }
      }
      &.how-work {
        margin: 5rem 0;
        h2 {
          margin-bottom: 5rem;
        }
      }
    }
  }
}