.homepage {
  section {
    &.banner {
      background: url('/images/bg-banner.png');
      background-size: 100% 100%;
      .banner-left {
        margin-top: 33.2rem;
        margin-bottom: 12.5rem;
        h1 {
          font-size: 5.2rem;
          margin-bottom: 4rem;
          line-height: 1;
          background: linear-gradient(to left, #C841FF 0%, #792FFF 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        h3 {
          font-size: 2.4rem;
          color: #000;
        }
        .download-cta {
          margin-top: 18rem;
          p {
            margin-bottom: 3.5rem;
            color: #000;
          }
          form {
            .form-group {
              margin-bottom: 0;
              input {
                height: 5.8rem;
                width: 30rem;
                border: none;
                border-bottom: 2px solid #EBEBEB;
                font-size: 1.8rem;
                &:focus {
                  box-shadow: none;
                }
                &::placeholder {
                  color: #CACBCF;
                  font-size: 1.6rem;
                }
              }
            }
            button {
              height: 5.8rem;
              width: 11.6rem;
              margin-left: 3rem;
              border-radius: 1rem;
              border: none;
              background: #FF6FB6;
              color: white;
              background: linear-gradient(150deg, #FF6FB6 -80%, #FF2E95 50%);
              font-size: 1.8rem;
              box-shadow: 0px 4px 12px 0px rgba(255, 47, 149, 0.3);
            }
          }
        }
        .phone-cta {
          margin-top: 7.35rem;
          button.btn-phone {
            border-radius: 4rem;
            background-color: #fff;
            border: none;
            box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.05);
            width: 12.7rem;
            height: 8.4rem;
            &.mac {
              margin-right: 4rem;
              img {
                width: 3.2rem;
              }
            }
            &.android {
              img {
                width: 3.8rem;
              }
            }
          }
        }
      }
      .banner-right {
        position: relative;
        height: 100%;
        img {
          &.iphone-investment {
            position: absolute;
            bottom: -7rem;
            right: 39rem;
          }
          &.iphone-account {
            position: absolute;
            right: 0;
            bottom: 6.3rem;
          }
        }
      }
    }
    &.featured-on {
      margin-top: 16rem;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
    &.app-screen {
      h2 {
        margin-bottom: 13rem;
        color: #000;
      }
      p {
        font-size: 2.6rem;
        color: #000;
      }
      &.invest {
        background: url('/images/shaped-bg3.png');
        background-repeat: no-repeat;
        background-position: right top;
        background-size: auto 100%;
        padding: 15rem 0;
      }
      &.goals {
        background: url('/images/shaped-bg2.png');
        background-repeat: no-repeat;
        padding-top: 16rem;
        margin-bottom: 13rem;
      }
      &.transaction {
        background: url('/images/shaped-bg4.png');
        background-repeat: no-repeat;
        padding-top: 21rem;
        padding-bottom: 12rem;
      }
    }
    &.account {
      padding: 150px 0;
      background: url('/images/shaped-bg5.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      .wrapper {
        .inner-wrapper {
          padding: 0 7.7rem;
          h2 {
            margin-bottom: 15rem;
            color: #000;
          }
          .info {
            margin-bottom: 6.5rem;
            .account-img {
              width: 6.6rem;
              height: 6.6rem;
              border-radius: 1rem;
              background: #fff;
              box-shadow: 5px 8px 30px 0px rgba(0, 0, 0, 0.1);
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 3.9rem;
            }
            p {
              font-size: 2.6rem;
              color: #000;
            }
          }
        }
      }
    }
    &.safe-secure {
      margin: 15rem 0;
      background-repeat: no-repeat;
      background: url('/images/shaped-bg6.png');
      background-position: center center;
      .btn-explore {
        width: 21.7rem;
        height: 6.5rem;
        color: #fff;
      }
      h2 {
        margin-bottom: 7.8rem;
        color: #000;
      }
      p {
        color: #000;
        font-size: 2.6rem;
      }
      button {
        width: 21.7rem;
        height: 6.5rem;
        border-radius: 1rem;
        font-size: 2rem;
        margin-top: 6rem;
      }
    }
  }
  @media (max-width: 575.98px) { 
    section {
      &.banner {
        .banner-left {
          margin: 10rem 0;
          position: relative;
          z-index: 100;
          .download-cta {
            margin-top: 5rem;
            form {
              .form-group {
                input {
                  width: 100%;
                }
              }
              button {
                width: 25%;
                margin-left: 5%;
              }
            }
          }
        }
        .banner-right {
          display: none;
          img {
            &.iphone-investment {
              bottom: 0;
              right: 5rem;
              width: 20rem;
            }
            &.iphone-account {
              bottom: 5rem;
              right: 0;
              width: 20rem;
            }
          }
        }
      }
      &.account {
        .wrapper {
          .inner-wrapper {
            padding: 0;
          }
        }
      }
    }
  }
}