.pricing-page {
  section {
    &.simple-pricing {
      height: 78rem;
      padding-top: 26rem;
      padding-bottom: 28rem;
      background: url('/images/shaped-bg7.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: bottom right;
      .title {
        text-align: center;
      }
    }
    &.pricing-switch {
      margin-top: -13rem;
      margin-bottom: 20rem;
      .price-thumb {
        box-shadow: 5px 40px 80px 0px rgba(0, 0, 0, 0.05);
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 2.4rem;
        border-bottom-right-radius: 2.4rem;
        border-bottom-left-radius: 2.4rem;
        position: relative;
        background: #fff;
        h2 {
          font-size: 7rem;
          span {
            color: #6E7272;
            font-size: 2.6rem;
            margin-left: 2rem;
          }
        }
        p {
          color: #000;
          font-size: 2.6rem;
        }
        &:after {
          content: '';
          width: 21.5rem;
          height: 0.9rem;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background: #6510FF;
          background: linear-gradient(325deg, #6510FF 0%, #7E72F7 100%);
          box-shadow: 0px 4px 12px 0px rgba(101, 16, 255, 0.3);
          border-radius: 0.7rem;
        }
      }
    }
    &.what-get {
      h2 {
        margin-bottom: 14.5rem;
      }
      .item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 8rem;
        .check {
          box-shadow: 5px 8px 30px 0px rgba(0,0,0,0.1);
          width: 6.6rem;
          height: 6.6rem;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 4rem;
        }
        .info {
          h4 {
            font-size: 2.6rem;
            color: #000;
            line-height: 4.5rem;
          }
          p {
            font-size: 1.8rem;
            color: #6E7272;
            line-height: 4.5rem;
          }
        }
      }
    }
    &.special-offer {
      margin: 16rem 0 15rem;
      h2 {
        margin-bottom: 7.8rem;
      }
      p {
        padding: 0 16.6rem;
        margin-bottom: 10rem;
      }
      button {
        width: 27.7rem;
        height: 6.5rem;
        border-radius: 1rem;
        font-size: 2rem;
      }
    }
  }
  @media (max-width: 767.98px) { 
    section {
      &.simple-pricing {
        height: auto;
        padding: 15rem 0;
      }
      &.pricing-switch {
        margin-top: -5rem;
        margin-bottom: 5rem;
        .price-thumb {
          height: 30rem;
          margin-bottom: 5rem;
        }
      }
      &.what-get {
        h2 {
          margin-bottom: 4.5rem;
        }
        .item {
          margin-bottom: 4rem;
        }
      }
      &.special-offer {
        margin: 5rem 0;
        h2 {
          margin-bottom: 4.5rem;
        }
        p {
          padding: 0;
          margin-bottom: 6rem;
        }
      }
    }
  }
}