.header {
    position: absolute;
    width: 100%;
    padding-top: 4.4rem;
    z-index: 100;
    .navbar {
        .navbar-brand {
            color: #000;
            font-size: 2.4rem;
            display: flex;
            align-items: center;
            img {
                float: left;
                margin-right: 1.2rem;
            }
            p {
                margin-bottom: 0;
            }
        }
        .navbar-nav {
            .nav-item {
                a {
                    color: #000000;
                    font-size: 1.4rem;
                    padding: 0 2.3rem;
                    &.download {
                        padding-left: 1.6rem;
                        padding-right: 0;
                        button {
                            font-size: 1.8rem;
                            width: 146px;
                            height: 58px;
                            box-shadow: 0px 4px 12px 0px rgba(101, 16, 255, 0.3);
                            border-radius: 10px;
                            background: rgb(101,16,255);
                            background: linear-gradient(325deg, rgba(101,16,255,1) 0%, rgba(94,55,164,1) 100%);
                            color: white;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 2rem;
    }
}
