.footer {
    width: 100%;
    background-color: #fff;
    padding: 11rem 0;
    .navbar-brand {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3.7rem;
        padding: 0;
        img {
            width: 5rem;
        }
        p {
            margin-bottom: 0;
            font-size: 2.4rem;
            color: #000;
            margin-left: 1.2rem;
        }
    }
    .download-links {
        display: flex;
        margin-bottom: 3.5rem;
        a {
            &.btn-download {
                &.appstore {
                    margin-right: 1.7rem;
                }
            }
            img {
                width: 13.4rem;
            }
        }
    }
    .social-shares {
        a {
            width: 6.8rem;
            height: 6.8rem;
            border-radius: 50%;
            box-shadow: 5px 8px 30px 0px rgba(0, 0, 0, 0.1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
    h4 {
        font-size: 2.6rem;
        margin-bottom: 2.8rem;
        color: #000;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            a {
                cursor: pointer;
                line-height: 3.8rem;
                font-size: 1.6rem;
            }
        }
    }
    p {
        &.address {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            color: #000000;
        }
        &.contact {
            font-size: 1.6rem;
            color: #6E7272;
            a {
                color: #6510FF;
            }
        }
    }
    .copyright, .reserved-date {
        font-size: 1.4rem;
        line-height: 2.7rem;
        color: #9A9E9E;
    }
    .copyright {
        margin-bottom: 3rem;
        margin-top: 7rem;
    }
    @media (max-width: 767.98px) { 
        padding: 5rem 0;
        .col-section {
            margin-bottom: 3rem;
            text-align: center;
        }
        .navbar-brand {
            align-items: center;
        }
        .social-shares {
            justify-content: initial !important;
            a {
                margin-right: 1rem;
            }
        }
    }
    @media (max-width: 1199.98px) and (min-width: 768px) {
        .download-links {
            display: flex;
            align-items: center;
            a.btn-download {
                width: 45%;
                &.appstore {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}
